@charset "utf-8";
#login
{
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
.form-singin
{
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
#logo
{
	margin-bottom: 20px;
}